body{
    background-color: #80cbc4;
    font-size: 18px;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

#survey{
    background-color: white;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 2%;
}

#survey-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 2fr 1fr 3fr 2fr 1fr;
    grid-gap: 8px;
}

#name, #email, #number {
    width: 200px;
    margin-left: 16px;
}

#suggestions {
    margin-left: 16px;
}

#button-submit {
    margin-bottom: 16px;
}

label {
    text-align: right;
    margin-left: 16px;
}

.right-col{
    margin-right: 16px;
    align-self: start;
    justify-self: start;
}

#button-submit {
    justify-self: end;
}