body {
    background-color: #EEEEEE;
    text-align: center;
}

#img-div {
    background-color: white;
}

#tribute-info {
    display: flex;
    flex-direction: column;
}

ul {
    max-width:550px;
    margin:0 auto;
    text-align:left;
}

li {
    margin: 10px;
}

#extra-info {
    font-size: 20px;
    font-weight: bold;
}